<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        p {
            font-size: 130%;
        }

        label {
            font-weight: normal !important;
        }

    </style>
    <meta charset="UTF-8">
    <title>{{ question_id }}</title>
</head>


<body>
    <form action="/submit/" method="post">{% csrf_token %}
    <input type="hidden" name="db_name" value="{{ data.db_name }}">
    <input type="hidden" name="annotator_name" value="{{ data.annotator_name }}">
    <input type="hidden" name="submit_redirect" value="{{ data.submit_redirect }}">
    {% load custom_filter %}

    {% autoescape off %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/">Home</a>
            </div>
            <div class="col-md-6 text-right">
                {% if data.submit_redirect == "/" %}
                    <a href="/{{ data.annotator_name }}{{ data.submit_redirect }}">Skip this question</a>
                {% endif %}
                {% if data.submit_redirect == "/shared" %}
                    <a href="/{{ data.annotator_name }}{{ data.submit_redirect }}">Go to questions list</a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="container">
        <h1>{{ data.question_title }}</h1>
        <p>{{ data.question_body }}</p>
        <hr>
        <p>
            <label><input id="{{ data.question_id }}" type="radio" value="0" name="{{ data.question_id }}_quality" > Low </label>
            <label><input id="{{ data.question_id }}" type="radio" value="1" name="{{ data.question_id }}_quality" > Medium </label>
            <label><input id="{{ data.question_id }}" type="radio" value="2" name="{{ data.question_id }}_quality" > High </label>
            ---
            <label><input id="{{ data.question_id }}" type="radio" value="-1" name="{{ data.question_id }}_quality" > <em>Don't know</em> </label>
            {% if data.question_quality is not None %}
                <mark><strong>NOTE: Previously annotated as "{{ data.question_quality | translateQuality }}"</strong></mark>
            {% endif %}
        </p>
    </div>


    <div class="container">
        <h3>Answers:</h3>
    </div>

    {% for answer in data.answers_list %}
        <div class="container panel panel-default">
            <p>
                <small><em>answer_id: {{ answer.answer_id }}</em></small>
            </p>
            <p>{{ answer.answer_body }}</p>
            <hr>
            <p>
                <label><input id="{{ answer.answer_id }}" type="radio" value="0" name="{{ answer.answer_id }}_quality" > Low </label>
                <label><input id="{{ answer.answer_id }}" type="radio" value="1" name="{{ answer.answer_id }}_quality" > Medium </label>
                <label><input id="{{ answer.answer_id }}" type="radio" value="2" name="{{ answer.answer_id }}_quality" > High </label>
                ---
                <label><input id="{{ answer.answer_id }}" type="radio" value="-1" name="{{ answer.answer_id }}_quality" > <em>Don't know</em> </label>
                {% if data.question_quality is not None %}
                    <mark><strong>NOTE: Previously annotated as "{{ answer.answer_quality | translateQuality }}"</strong></mark>
                {% endif %}
            </p>
        </div>
    {% endfor %}

    {% endautoescape %}

    <div class="container text-center">
        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
    </div>

    </form>

    <footer>
        <div class="text-center">
            <p></p>
            <small><em>annotator: {{ data.annotator_name }}; db: {{ data.db_name }}; question_id: {{ data.question_id }};</em></small>
        </div>
    </footer>

</body>
</html>